.users-container {
  background-color: black;
  height: 100%;
  max-height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.userDisplay {
  height: 90%;
  max-height: 100%;
  width: 100%;
  background-color: yellow;
  overflow: auto;
}

.userOption {
  height: 50px;
  width: 100%;
  max-width: 100%;
  border: solid 1px black;
  border-bottom-width: 0px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userOption:hover {
  cursor: pointer;
}

.active:hover .removeUser {
  display: block;
}

.userOption:last-child {
  border-bottom-width: 1px;
}

.inactive:hover {
  background-color: darkorange;
}

.active {
  background-color: aquamarine;
  border-right: dashed 1px black;
}

.removeUser {
  display: none;
  position: relative;
  right: 25%;
}

.inputContainer {
  height: 10%;
  width: 100%;
}

.userInput {
  height: 100%;
  width: 75%;
  box-sizing: border-box;
}

.userPush {
  height: 100%;
  width: 25%;
  background-color: white;
  box-sizing: border-box;
}
